.scoreboard-container {
  text-align: center;
}

#score,
#scoreboard,
#best-score,
#max-score {
  color: goldenrod;
}

#score,
#best-score,
#max-score {
  font-size: 1.7rem;
}

#scoreboard {
  font-size: 2.5rem;
}
