.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
}

#text {
  color: white;
  text-align: center;
}

#logo {
  padding-left: 1rem;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}
